@charset "UTF-8";

@font-face {
    font-family: 'dk_sugary_pancakeregular';
    src: url('font/dk_sugary_pancake-webfont.woff2') format('woff2'),
         url('font/dk_sugary_pancake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

main {
    font-family: 'dk_sugary_pancakeregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    color:white;
    margin:auto;
    border-radius: 25px;
    }

header{
    margin: 0px;
    padding:0px;
    text-align: center;
    background-color: white;
}
header img{
    border: 1px white solid;
    border-radius: 25px;;
}
nav{
    background-color: black;
    border-radius: 25px 25px 0 0;
}
nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row ;
    list-style-type:none ;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: white ;
}
nav a:hover{
    color: #E54F4D;
}
section{
    background: black;
}
footer{
    border-radius: 0 0 25px 25px;;
    background-color: black;
    text-align: center;
}
#norbus img {
    border-radius: 25px;
    padding: 10px;
}

#norbus{
    display: flex;
    flex-direction: row;
}

#poke{
    display: flex;
}
#poke img{
    justify-content: space-between;
}