@charset "UTF-8";

@font-face {
    font-family: 'dk_sugary_pancakeregular';
    src: url('font/dk_sugary_pancake-webfont.woff2') format('woff2'),
         url('font/dk_sugary_pancake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

main {
    font-family: 'dk_sugary_pancakeregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    background: black;
    color:white;
    padding:10px;
    margin:auto;
    border-radius: 25px;
    }

header h1{
    text-align: center;
}
nav ul{
    padding: 0px;
    display: flex;
    flex-flow: row ;
    list-style-type:none ;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: white ;
}


